<html>
    <header>
        <title> Restaurant's Hub </title>
    </header>
    <body>
        <div>
            <h1> Restaurant's Hub </h1>
            <div>
                <h3>  Delete <strong>{{ item.name }}</strong> from {{ restaurant.name }} restaurant: </h3> 
                <form action='#' method='POST'>
                    <input type='submit' value='Delete' action='/restaurant/{{restaurant.id}}/menu/{{item.id}}/delete'>
                    <a href='{{ url_for("showMenu", restaurant_id = restaurant.id )}}'> Cancel </a>
                </form>                
            </div>
        </div>
    </body>
</html>