<html>
    <header>
        <title> Restaurant's Hub </title>
    </header>
    <body>
        <div>
            <h1> Restaurant's Hub </h1>
            <div>
                <h3>  Edit restaurant: </h3> 
                <form action='#' method='POST'>
                    Name: <input name='name' type='text' placeholder="{{ restaurant.name }}"> 
                    <input type='submit' value='Update' action='/restaurant/{{ restaurant.id }}/edit'>
                    <a href='{{ url_for("showRestaurants")}}'> Cancel </a>
                </form>                
            </div>
        </div>
    </body>
</html>