<html>
    <header>
        <title> Restaurant's Hub </title>
    </header>
    <body>
        <div>
            <h1> Restaurant's Hub </h1>
            <div>
                <h3>  Edit menu item of {{ restaurant.name }} restaurant: </h3> 
                <form action='#' method='POST'>
                    Name: <input name='name' type='text' placeholder="{{ item.name }}" > </br>
                    Price: <input name='price' type='text' placeholder="{{ item.price }}"  >  </br>
                    Description: <input name='description' type='text'  placeholder="{{ item.description }}" >  </br>
                    Course: <input name='course' type='text' placeholder="{{ item.course }}"  >  </br>
                    <input type='submit' value='Update' action='/restaurant/{{restaurant.id}}/menu/{{ item.id}}/edit'>
                    <a href='#'> Cancel </a>
                </form>                
            </div>
        </div>
    </body>
</html>