<html>
    <header>
        <title> Restaurant's Hub </title>
    </header>
    <body>
        <div>
            <h1> Restaurant's Hub </h1>
            <div>
                <h3>  New menu item to {{ restaurant.name }} restaurant: </h3> 
                <form action='#' method='POST'>
                    Name: <input name='name' type='text' > </br>
                    Price: <input name='price' type='text' >  </br>
                    Description: <input name='description' type='text' >  </br>
                    Course: <input name='course' type='text' >  </br>
                    <input type='submit' value='Create' action='/restaurant/{{restaurant.id}}/menu/new'>
                    <a href='{{ url_for("showMenu", restaurant_id = restaurant.id )}}'> Cancel </a>
                </form>                
            </div>
        </div>
    </body>
</html>