<html>
    <header>
        <title> Restaurant's Hub </title>
    </header>
    <body>
        <div>
            <h1> Restaurant's Hub </h1>
            <div>
                <p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <span> <strong> {{ message }} </strong></span>
                            {% endfor %}
                        {% endif %} 
                    {% endwith %}  
                    <a href='{{ url_for("newRestaurant") }}'> New restaurant </a>
                </p>
                <ul>
                    {% for restaurant in restaurants %}
                    <li>
                        <p>
                            <a href='{{ url_for("showMenu", restaurant_id = restaurant.id) }}'> {{restaurant.name }}</a> 
                            </br>
                            <a href='{{ url_for("editRestaurant", restaurant_id = restaurant.id )}}'> Edit </a>
                            </br>
                            <a href='{{ url_for("deleteRestaurant", restaurant_id = restaurant.id )}}'> Delete </a>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>